IDENTIFICATION DIVISION.
    PROGRAM-ID "phase-3-arithmetic-test".

DATA DIVISION.
    X NUMBER-INTEGER.
    Y NUMBER-INTEGER.
    RESULT NUMBER-INTEGER.

PROCEDURE DIVISION.
    SET X "10".
    SET Y "5".
    ADD RESULT X Y.
    DISPLAY "RESULT OF 10 + 5 IS:".
    PRINT RESULT.
