IDENTIFICATION DIVISION.
    PROGRAM-ID. CSM-DEMO.
ENVIRONMENT DIVISION.
    OS "Linux".
DATA DIVISION.
    MAP-CSM PROTOCOL-VERSION 154 DICTIONARY-REF "DEMO-TEMPLATES" DENSITY 1.0.
    RAW-DATA VIDEO-MP4.
    CSM-RESULT VIDEO-MP4.
PROCEDURE DIVISION.
    COMPRESS-CSM RAW-DATA INTO CSM-RESULT.
